# Base URL of the Kaluna API (API Gateway)
NEXT_PUBLIC_API_URL=https://apikaluna.bennyduah.com

# Cognito user pool + app client used by the admin console login
NEXT_PUBLIC_COGNITO_USER_POOL_ID=us-east-1_pZj77jJZE
NEXT_PUBLIC_COGNITO_CLIENT_ID=1farfjsk0i1c2qi15d4rde52ka
