# Terraform
.terraform/
**/.terraform/*
terraform.tfstate
terraform.tfstate.backup
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
.terraform.lock.hcl

# Python
__pycache__/
*.pyc
.venv/
venv/

# Go
*.exe
*.test
/services/checkin/checkin
bootstrap

# Terraform outputs
*.zip

# Node (frontend)
node_modules/
.next/
dist/
build/

# Env / secrets
.env
.env.*
!.env.example

# OS
.DS_Store
