openapi: 3.0.3
info:
  title: Kaluna API
  description: Serverless event registration and ticketing platform.
  version: "1.0.0"
servers:
  - url: https://api.kaluna.bennyduah.com/api/v1
    description: Production
  - url: https://dev-api.kaluna.bennyduah.com/api/v1
    description: Development

paths:
  /health:
    get:
      summary: Service health check
      tags: [Ops]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: healthy }
                  version: { type: string, example: "1.0.0" }
                  region: { type: string, example: us-east-1 }
                  timestamp: { type: string, format: date-time }

  /events:
    get:
      summary: List events
      tags: [Events]
      parameters:
        - name: status
          in: query
          schema: { type: string, enum: [available, limited, sold_out] }
        - name: limit
          in: query
          schema: { type: integer, default: 20 }
        - name: cursor
          in: query
          schema: { type: string }
      responses:
        "200":
          description: List of events
          content:
            application/json:
              schema:
                type: object
                properties:
                  events:
                    type: array
                    items: { $ref: "#/components/schemas/Event" }
                  nextCursor:
                    type: string
    post:
      summary: Create an event (admin only)
      tags: [Admin]
      security: [{ CognitoAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/EventInput" }
      responses:
        "201":
          description: Event created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Event" }

  /events/{eventId}:
    get:
      summary: Get event detail
      tags: [Events]
      parameters:
        - $ref: "#/components/parameters/EventId"
      responses:
        "200":
          description: Event detail
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Event" }
        "404": { $ref: "#/components/responses/NotFound" }
    put:
      summary: Update an event (admin only)
      tags: [Admin]
      security: [{ CognitoAuth: [] }]
      parameters:
        - $ref: "#/components/parameters/EventId"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/EventInput" }
      responses:
        "200":
          description: Event updated
    delete:
      summary: Delete an event (admin only)
      tags: [Admin]
      security: [{ CognitoAuth: [] }]
      parameters:
        - $ref: "#/components/parameters/EventId"
      responses:
        "204": { description: Deleted }

  /events/{eventId}/register:
    post:
      summary: Register for an event
      tags: [Registrations]
      parameters:
        - $ref: "#/components/parameters/EventId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, email, idempotencyKey]
              properties:
                name: { type: string }
                email: { type: string, format: email }
                idempotencyKey: { type: string }
      responses:
        "201":
          description: Registration confirmed
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Registration" }
        "409":
          description: Event full or duplicate registration
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /events/{eventId}/registrations:
    get:
      summary: List registrations for an event (admin only)
      tags: [Admin]
      security: [{ CognitoAuth: [] }]
      parameters:
        - $ref: "#/components/parameters/EventId"
        - name: format
          in: query
          required: false
          schema:
            type: string
            enum: [json, csv]
            default: json
      responses:
        "200":
          description: Registrations list or CSV export
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/Registration" }
            text/csv:
              schema:
                type: string

  /events/{eventId}/check-ins:
    get:
      summary: Live check-in count and list (admin only)
      tags: [Admin]
      security: [{ CognitoAuth: [] }]
      parameters:
        - $ref: "#/components/parameters/EventId"
      responses:
        "200":
          description: Check-in status
          content:
            application/json:
              schema:
                type: object
                properties:
                  checkedIn: { type: integer }
                  total: { type: integer }
                  attendees:
                    type: array
                    items: { $ref: "#/components/schemas/Registration" }

  /registrations/{ticketId}:
    get:
      summary: Look up a ticket
      tags: [Registrations]
      parameters:
        - $ref: "#/components/parameters/TicketId"
      responses:
        "200":
          description: Ticket detail
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Registration" }

  /registrations/{ticketId}/cancel:
    post:
      summary: Cancel a registration
      tags: [Registrations]
      parameters:
        - $ref: "#/components/parameters/TicketId"
      responses:
        "200": { description: Cancelled, seat released }

  /check-in:
    post:
      summary: Check in a scanned ticket
      tags: [Check-in]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [ticketId]
              properties:
                ticketId: { type: string }
      responses:
        "200":
          description: Valid ticket, checked in
        "409":
          description: Ticket already used or invalid
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /analytics:
    get:
      summary: Aggregate stats (admin only)
      tags: [Admin]
      security: [{ CognitoAuth: [] }]
      responses:
        "200":
          description: Analytics summary
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalEvents: { type: integer }
                  totalRegistrations: { type: integer }
                  attendanceRate: { type: number }
                  upcomingEvents: { type: integer }

components:
  securitySchemes:
    CognitoAuth:
      type: apiKey
      in: header
      name: Authorization
  parameters:
    EventId:
      name: eventId
      in: path
      required: true
      schema: { type: string }
    TicketId:
      name: ticketId
      in: path
      required: true
      schema: { type: string }
  responses:
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
  schemas:
    Event:
      type: object
      properties:
        eventId: { type: string }
        name: { type: string }
        date: { type: string, format: date }
        venue: { type: string }
        capacity: { type: integer }
        seatsRemaining: { type: integer }
        status: { type: string, enum: [available, limited, sold_out] }
        imageUrl: { type: string, format: uri, maxLength: 2048 }
    EventInput:
      type: object
      required: [name, date, venue, capacity]
      properties:
        name: { type: string }
        date: { type: string, format: date }
        venue: { type: string }
        capacity: { type: integer }
        imageUrl: { type: string, format: uri, maxLength: 2048 }
    Registration:
      type: object
      properties:
        registrationId: { type: string }
        ticketId: { type: string }
        eventId: { type: string }
        name: { type: string }
        email: { type: string }
        status: { type: string, enum: [registered, checked_in, cancelled] }
        registeredAt: { type: string, format: date-time }
    Error:
      type: object
      properties:
        success: { type: boolean, example: false }
        message: { type: string }
        errorCode: { type: string }
